// Home
.article-style {
    font-size: medium;
}

// Research


// Sections
.home-section:first-of-type {
    padding-top: 0px;
}

.home-section {
    padding: 0px;
}

// Section title
.section-heading.col-12.mb-3 {
    margin-left:-1rem;
    margin-top: 0.4rem !important;
    margin-bottom: 0.4rem !important;
    h1 {
        font-size: larger;
        text-align: left;
    }
}

// Article widget
.article-title {
    a {
        font-size: medium;
        pointer-events: none;
    }
}

.section-subheading.article-title.mb-0.mt-0 {
    font-size: small;
    line-height: normal;
}

.summary-link {
    visibility: collapse;
}

.article-metadata>div {
    font-size: small;
}

.media.stream-item {
    .stream-meta {
        margin-top: 1px;
        margin-bottom: 4px;
    }
}

.media.stream-item:not(:last-child) {
    margin-bottom: 0.1rem;
}

.btn.btn-sm,
.btn-group-sm>.btn {
    padding: 3px;
}

.btn-page-header {
    margin: 0px;
}

.btn-links {
    line-height: 0px;
    margin-bottom: 5px;
}